@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_hand\.scss}line{font-family:\000031}}
canvas {
  float: left;
  margin-left: 300px;
  background-color: #202020;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_google-signin\.scss}line{font-family:\000033}}
.signin {
  width: 300px;
  margin: auto;
  padding: 20px;
  background: white;
  margin-top: 60px;
  text-align: center;
  -webkit-box-shadow: 0 0 15px 5px #333333;
  -moz-box-shadow: 0 0 15px 5px #333333;
  box-shadow: 0 0 15px 5px #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_google-signin\.scss}line{font-family:\0000313}}
.google, .twitter {
  margin: 10px auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_google-signin\.scss}line{font-family:\0000317}}
#customBtn {
  display: inline-block;
  background: #dd4b39;
  color: white;
  border-radius: 5px;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_google-signin\.scss}line{font-family:\0000325}}
#customBtn:hover {
  background: #e74b37;
  cursor: hand;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_google-signin\.scss}line{font-family:\0000330}}
span.label {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_google-signin\.scss}line{font-family:\0000334}}
span.icon {
  background: url("https://google-developers.appspot.com/+/images/branding/btn_red_32.png") transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-right: #bb3f30 1px solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_google-signin\.scss}line{font-family:\0000343}}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_google-signin\.scss}line{font-family:\0000354}}
#twitter {
  display: inline-block;
  background: url(https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png) center center;
  width: 158px;
  height: 0;
  padding-top: 28px;
  text-indent: 90000px;
  overflow: hidden;
  text-align: left;
}

/**
 * Base LAYOUT
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000314}}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/**
 * Typo
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000324}}
html {
  font-size: 13px;
  font-family: Arial, Verdana, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000329}}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000335}}
h1 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000341}}
h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000347}}
h3 {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000353}}
ul {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000358}}
li {
  color: #333;
  font-size: 14px;
  list-style-type: none;
  line-height: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000365}}
a {
  color: #e9e9e9;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000370}}
input {
  background: white;
  border: 1px solid #3e3e3e;
  padding: 4px 5px;
}

/**
 * TOOLS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000380}}
.float-right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\0000384}}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 2px 8px;
  margin: 0;
  width: auto;
  text-align: center;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  border: 1px solid #8D8D8D;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #e6e6e6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\00003105}}
.btn.small {
  font-size: 12px;
  line-height: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\00003113}}
.btn:hover {
  background: #c3c1c1;
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/app\.scss}line{font-family:\00003120}}
.btn.active {
  background: #c3c1c1;
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_header\.scss}line{font-family:\000036}}
.header {
  background: url('../img/header-s6680651eed.png') 0 0 no-repeat;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #3e3e3e;
  border-bottom: 0 solid #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_header\.scss}line{font-family:\0000319}}
.header h1 {
  text-align: left;
  margin-left: 120px;
  font-size: 80px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_footer\.scss}line{font-family:\000034}}
.footer {
  position: fixed;
  bottom: 0;
  height: 0;
  left: 0;
  right: 0;
  border-top: 0 solid #333333;
  text-align: center;
  color: white;
  background: #3e3e3e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\000035}}
.content {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #8e8e8e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000316}}
#top-wrapper {
  position: fixed;
  top: 100px;
  right: 0;
  left: 0;
  height: 120px;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000325}}
.toolbar {
  padding: 10px;
  background: #333333;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000330}}
.toolbar li {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000335}}
.form {
  display: block;
  padding: 10px;
  height: auto;
  background: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000343}}
.form.height0 {
  height: 0px;
  padding: 0;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000350}}
.combi-list {
  width: 200px;
  float: left;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000355}}
.combi-list .combi {
  padding-left: 10px;
  border-bottom: 1px solid #e9e9e9;
  line-height: 20px;
  font-size: 15px;
  color: #3e3e3e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000362}}
.combi-list .combi:hover {
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000370}}
.btn-group {
  display: inline-block;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000374}}
.btn-group .btn {
  margin-right: 0;
  margin-left: 0;
  float: left;
  border-right-width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000380}}
.btn-group .btn:last-child {
  border-right-width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000386}}
.remove-combi {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000390}}
.btn-delete {
  width: 20px;
  height: 20px;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\0000398}}
.btn-delete:after {
  content: "";
  position: absolute;
  background: url('../img/icone-s5c856e1c21.png') 0 0 no-repeat;
  top: 2px;
  right: 8px;
  bottom: 2px;
  left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/b2l\/project\/HandTeamManager\/assets\/scss\/_content\.scss}line{font-family:\00003110}}
.btn-delete:hover:after {
  background: url('../img/icone-s5c856e1c21.png') 0 -20px no-repeat;
}
