@import "compass/css3/border-radius";

$icone: sprite-map('icone/*.png');

.content {
  position: fixed;

  top: $headerHeight + $headerBorderBottom;
  right: 0;
  bottom: $footerHeight + $footerBorderTop;
  left: 0;

  background: $color3;
}

#top-wrapper {
  position: fixed;
  top: $headerHeight + $headerBorderBottom;
  right: 0;
  left: 0;
  height: 120px;
  z-index: 1;
}

.toolbar {
  padding: 10px;
  background: $color2;
  color: white;

  li {
    display: inline-block;
  }
}

.form {
  display: block;
  padding: 10px;
  height: auto;

  background: white;
  @include transition(all 0.3s);

  &.height0 {
    height: 0px;
    padding: 0;
    overflow: hidden;
  }
}

.combi-list {
  width: 200px;
  float: left;
  margin-top: 10px;

  .combi {
    padding-left: 10px;
    border-bottom: 1px solid $link;
    line-height: 20px;
    font-size: 15px;
    color: $color1;

    &:hover {
      background: $link;
      color: $color2;
      font-weight: bold;
    }
  }
}

.btn-group {
  display: inline-block;
  overflow: hidden;

  .btn {
    margin-right: 0;
    margin-left: 0;
    float: left;
    border-right-width: 0;

    &:last-child {
      border-right-width: 1px;
    }
  }
}

.remove-combi {
  display: inline-block;
}

.btn-delete {
  $btnDelete: sprite-file($icone, 'trash');

  width: image-width($btnDelete);
  height: image-height($btnDelete);

  position: relative;

  &:after {
    content: "";
    position: absolute;

    background: sprite($icone, 'trash') no-repeat;

    top: 2px;
    right: 8px;
    bottom: 2px;
    left: 8px;
  }

  &:hover:after {
    background: sprite($icone, 'trash_on') no-repeat;
  }
}