$footerHeight: 0;
$footerBorderTop:0;

.footer {
  position: fixed;

  bottom: 0;
  height: $footerHeight;
  left: 0;
  right: 0;
  border-top: $footerBorderTop solid $color2;

  text-align: center;
  color: white;

  background: $color1;
}