<!DOCTYPE html>
<html>
<head>
    <title>Hand Strategie</title>
    <link rel="stylesheet" href="/public/css/app.css" />
    <meta charset="UTF-8">
</head>
<body>

<div class="header">
    <h1>Hand Strategie</h1>
    <nav>
        <li><a class="Users" href="/team">Team</a></li>
        <li><a class="Users" href="/_users">Users</a></li>
        <li><a class="compo" href="/_combis">Combinaisons</a></li>
    </nav>
</div>

<div id="content" class="content">
</div>

</body>

<!-- START TEMPLATES -->
<script type="text/x-template" id="login">
    <div class="signin">
        <h1>Sign in</h1>

        <div class="google">
            <a id="customBtn" href="/auth/google/">
                <span class="icon"></span>
                <span class="buttonText">Google</span>
            </a>
        </div>

        <div class="twitter">
            <a id="twitter" href="/auth/twitter">Sign in with twitter</a>
        </div>
    </div>
</script>

<script type="text/x-template" id="dashboard">
    <div class="dashboard">
        <h2>
            Bienvenue <%= user.firstName %> <%= user.lastName %>
        </h2>

        <h3>Équipes</h3>
        <a href="/team/create">Créer une équipe</a>
        <ul>
            <% _.each(teams, function(team) { %>
            <li><%= team.name %></li>
            <% }) %>
        </ul>
    </div>
</script>

<script type="text/x-template" id="create-team">
    <form action="/team/create" method="GET" id="team-invite">
        <div>
            <label for="team-name">Nom de l'équipe</label>
            <input type="text" name="name" id="team-name" />
        </div>
    </form>
</script>

<script type="text/x-template" id="users-template">
    <div class="toolbar">
        <div class="btn-group">
            <button class='btn add'>Ajouter</button>
            <button class='btn delete'>Supprimer</button>
        </div>
    </div>

    <form class="add-form form height0">
        <div>
            <label for="login">Login</label>
            <input id="login" type="text" name="login"/>
        </div>

        <div>
            <label for="passwd">Password</label>
            <input id="passwd" type="password" name="password" />
        </div>

        <div>
            <label for="passwd-confirm">Confirm password</label>
            <input id="passwd-comfirm" type="password" name="password-confirm"/>
        </div>

        <div>
            <input type="submit" value="Sauver" />
            <input type="reset" value="Annuler" class="cancel"/>
        </div>
    </form>

    <ul>
        <% _.each(_users, function(user) { %>
            <li><a class="user" href="/users/<%= user._id %>"><%= user.login %></a></li>
        <% }) %>
    </ul>
</script>

<script type="text/x-template" id="strat-template">
    <div class="toolbar">
        <div class="btn-group">
            <button class='btn record'>Record</button>
            <button class='btn reset'>Reinitialiser</button>
        </div>
    </div>

    <div class="save-box form height0">
        <input type="text" name="name" placeholder="Nom de la combinaison"/>
        <button class="save">Save</button>
    </div>

    <ul class="combi-list">
        <% _.each(combis, function(combi) { %>
            <li class="combi" data-combi-id="<%= combi._id %>"><%= combi.name %></li>
        <% }) %>
    </ul>

    <canvas id="canvas-compo" height="550" width="1000"></canvas>
</script>

<script type="text/x-template" id="team-template">

    <form action="/team" method="POST" id="team-invite">
        <div>
            <label for="team-name">Nom de l'équipe</label>
            <input type="text" name="name" id="team-name" />
        </div>

        <h3>Membres</h3>
        <ul class="invite-member-list">
        inviter (saisisser les adresses mails des joueurs à inviter) :
            <li>
                <input type="text" name="mail"/> <a href="" class="remove-member">-</a>
            </li>
        </ul>
        <a class="add-member" href="">+</a>

        <input type="submit" value="Envoyer les inviatations" />
    </form>

</script>
<!-- END TEMPLATES -->

<script type="text/javascript" src="/public/js/lib/gator.js"></script>
<script type="text/javascript" src="/public/js/app.js"></script>
</html>