<!DOCTYPE html>
<html>
<head>
    <title>Hand Strategie</title>
    <link rel="stylesheet" href="/public/css/app.css" />
    <meta charset="UTF-8">
</head>
<body>

<div id="app-wrapper">

    <div class="header">
        <h1>Hand Strategie</h1>
    </div>


    <div id="content" class="content">
        <div class="signin">
            <h1>Sign in</h1>

            <div class="google">
                <a id="customBtn" href="/auth/google/">
                    <span class="icon"></span>
                    <span class="buttonText">Google</span>
                </a>
            </div>

            <div class="twitter">
                <a id="twitter" href="/auth/twitter">Sign in with twitter</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>